<!DOCTYPE html>
<div class="inline-block px-3">
  <a href="{{.link}}"
    class="text-3xl text-neutral-400 dark:text-neutral-500 hover:text-primary-700 dark:hover:text-primary-400">
    <center>
      {{ partial "icon.html" .ic}}
    </center>
  </a>
</div>